.chat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-window {
  /* background-color: darkslateblue; */
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.chatbar-container {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #090909;
  padding-bottom: 1rem;
}

.chat-bar-form {
  width:66%;
  display: flex;
  align-items: center;
  background-color: #181818;
  border-radius: 1rem;
  padding: 0.25rem 0;
}

.chat-bar-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem 0.25rem 0.5rem 0.75rem;
  border-radius: 1rem;
  color: #888;
  background-color: #181818;
  resize: none;
  overflow: auto;
  max-height: 5rem;
}

.chat-bar-input::placeholder {
  color: #888;
}

.chat-bar-send-btn {
  background: linear-gradient(to right, #0d3d2e, #099773);
  border: none;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 100%;
  cursor: pointer;
}

.chat-text {
  font-size: 1rem;
}

.user-message {
  background: linear-gradient(to right, #0d3d2e, #099773);
  align-self: flex-end;
  width: 75%;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem 0 1rem 1rem;
}

.assistant-message {
  align-self: flex-start;
  background-color: #181818;
  padding: 1rem;
  margin: 1rem 0 2rem 0;;
  border-radius: 0 1rem 1rem 1rem;
}